{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <h1>Log in</h1>

    {% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <form method="post">
        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" required autofocus>

        <label for="password">Password</label>
        <input type="password" name="_password" id="password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" data-controller="csrf-protection">

        <button type="submit">Sign in</button>
    </form>
{% endblock %}
